html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
body {
  color: #fff;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cityName:focus,
#cityName:hover {
  border-color: #2da8ff !important;
}

.btn-neutral {
  border-width: 1px !important;
  border-style: solid !important;
  color: black;
  border-color: #c8c8c8 !important;
}

.btn-neutral:hover {
  color: black !important;
  border-color: #2da8ff !important;
}

.btn-default {
  background-color: #c8c8c8;
}

.btn-default:hover {
  background-color: #d0d0d0;
}
